/* setup */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* end of setup */


body {
	font-family: 'Merriweather', serif;

}

div {
	display: block;
}

header {
	background-image: url(images/cntower.jpeg);
	background-size: cover;
	padding: 250px 0;
	text-align: center;
	min-height: 100vh;

}

section {
	display: block;
	position: relative;
}

.nav ul {
	/*background-color: #D9AD4B;*/
	background-color: rgb(249, 249, 249);
	width: 100%;
	position: fixed;
	z-index: 1;
	float: left;
	top: 0;
	margin: 0;
	padding: 0;
}

.nav ul li{
	display: inline;
}

.nav ul li a{
	font-family: 'quicksand', sans-serif;
	text-decoration: none;
	color: #2b230f;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0;
	float: left;
	width: 20%;
	font-weight: 400;
	font-size: 14px;
}

	.nav ul li a:hover {
		color: #D9AD4B;

	}
	


h1 {
	font-family: 'quicksand', sans-serif;
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: 10px;
	margin: 10px 0;
	color: #D9AD4B;
	
}

h2 {
	color: #333232;
	font-family: 'quicksand', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px
}

h3 {
	font-family: 'quicksand', sans-serif;
	text-transform: uppercase;
  font-size: 20px;
  color: #D9AD4B;
  letter-spacing: 3px;
}

header h3 {
	font-family: 'Merriweather', serif;
	font-style: italic;
	letter-spacing: 3px;
	text-transform: lowercase;
  font-size: 18px;
  color: black;
}

h4 {
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: .5px;
	color: #7c7c7c;
}

p {
	font-size: 14px;
	font-weight: 300;
	color: #8e8d8d;
	letter-spacing: 1px;
	line-height: 1.4;
	word-spacing: -.5px;

}

a, strong {
	text-decoration: none;
	font-family: 'quicksand', sans-serif;
	font-weight: 700;
	color: #443519;
	transition: all 0.3s ease;
}


.contentWrap {
	max-width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
  width: 80%;

}

#me {
	border-bottom: 1px solid #D9AD4B;
	background-color: #D9AD4B;

}
	#me h2 {
		font-weight: 400;
		margin-bottom: 30px;
		color: #433517;
	}

	#me p {
		color: #433517;
		font-size: 16px;
		font-family: 'quicksand', sans-serif;
		letter-spacing: 1px;
		font-weight: 400;
		line-height: 1.5;

	}

	#me .rightColumn {
		border: none;
	}



.profileImg {
	float: left;
	margin-left: 5%;
	width: 25%;
	height: auto;
}

#experience h2, #skills h2, #education h2 {
	float: left;
	text-align: right;
	width: 25%;
	margin-right: 5%
}

.rightColumn {
	float: right;
	padding: 0 8% 0 5%;
	width: 70%;
	border-left: 1px dotted darkgrey;
}

#skills, #education, #work, #contact{
	clear: both;
}

/* .column {
	float: left;
	width: 33.33%;
} */

#experience, #skills, #education, #work{
	background-color: rgba(249, 249, 249,.8);

}

.secondJob, .thirdJob, .bitmaker, .learning, .language {
	margin-top: 50px
}

#skills ul {
	list-style-type: none;
	padding: 0;
}
#skills ul li {
	height: 100px;
	width: 100px;
	line-height: 100px;
	display: inline-block;
	padding: 0 10px;
	border: 2px solid #D9AD4B;
	border-radius: 50%;
	background: #D9AD4B;
	text-align: center;
	margin: 5px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'quicksand', sans-serif;
	font-weight: 700;
}

#skills span {
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
}

#work {
	text-align: center;
}

#contact {
	background-color: #201a0b;
	text-align: center
}

	#contact h2 {
		color: white;
	}

.email {
	margin: 35px auto;
}
 .email a{
 	color: #D9AD4B;
 	font-weight: 400;
 }

.icons{
	margin: 10px;
}

